@use 'src/custom-theme' as theme;

.main-container {
  width: 100%;
  height: 100vh;
  display: grid;
}

@media screen and (max-width: theme.$small-window-max) {
  .main-container {
    grid-template-columns: 100%;
    padding-top: 10px;
  }

  .main-content {
    margin: 0 10px;
    grid-column: 1;
  }
}

@media screen and (max-width: theme.$medium-window-max) and (min-width: theme.$medium-window-min) {
  .main-container {
    grid-template-columns: 10% 80% 10%;
    padding-top: 10px;
  }

  .main-content {
    grid-column: 2;
  }
}

@media screen and (min-width: theme.$large-window-min) {
  .main-container {
    grid-template-columns: 15% 70% 15%;
    padding-top: 10px;
  }

  .main-content {
    grid-column: 2;
  }
}
