@use "src/custom-theme" as theme;

.container {
  display: grid;
}

.form-container {
  grid-column: 2;
}

@media screen and (max-width: theme.$small-window-max) {
  .container {
    grid-template-columns: 10% 80% 10%;
  }
}

@media screen and (max-width: theme.$medium-window-max) and (min-width: theme.$medium-window-min) {
  .container {
    grid-template-columns: 20% 60% 20%;
  }
}

@media screen and (min-width: theme.$large-window-min) {
  .container {
    grid-template-columns: 30% 40% 30%;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 3px solid theme.$light-gray;
  padding: 45px 15px 45px 15px;
  max-width: 500px;
}

h1.form-title {
  font-size: 24px;
  color: theme.$black;
  font-weight: bold;
  margin: 0 0 12px;
  align-self: flex-start;
}

h2.form-subtitle {
  font-size: 16px;
  color: theme.$black;
  font-weight: normal;
  margin: 0 0 45px;
  align-self: flex-start;
}

mat-form-field {
  width: 100%;
}

.password-visibility {
  background-color: transparent;
  margin: 0;
}

.password-visibility:is(:hover, :active, :focus) {
  background-color: transparent;
}

button {
  font-size: 16px;
  font-weight: bolder;
  background-color: theme.$green;
  padding: 16px 0;
  color: theme.$white;
  border-radius: 5px;
  border: none;
  width: 100%;
  margin-top: 45px;
  cursor: pointer;
}

button:is(:hover, :active, :focus) {
  background-color: theme.$dark-green;
}
