<h1 class="title" mat-dialog-title>User Review</h1>
<div mat-dialog-content class="content" [formGroup]="formGroup">
  <div class="part-container">
    <div class="profile-picture"
         [ngStyle]="{'background-image': !restaurantImage ? '' : getBackgroundImageUrl(restaurantImage)}"></div>
    <h3 *ngIf="restaurant">{{restaurant.name}}</h3>
    <star-rating (ratingChange)="formGroup.controls.restaurantRate.setValue($event.rating)"></star-rating>
    <mat-form-field appearance="outline">
      <mat-label>Comment restaurant</mat-label>
      <textarea formControlName="restaurantComment" matInput placeholder="Enter your reason"></textarea>
    </mat-form-field>
  </div>

  <div class="part-container">
    <div class="profile-picture"
         [ngStyle]="{'background-image': !delivererImage ? avatarImageUrl : getBackgroundImageUrl(delivererImage)}"></div>
    <h3 *ngIf="deliverer">{{deliverer.name + " " + deliverer.surname | titlecase}}</h3>
    <star-rating (ratingChange)="formGroup.controls.delivererRate.setValue($event.rating)"></star-rating>
    <mat-form-field appearance="outline">
      <mat-label>Comment delivery</mat-label>
      <textarea formControlName="delivererComment" matInput placeholder="Enter your reason"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions class="actions">
  <button class="cancel-button" (click)="dialogRef.close()">Cancel</button>
  <button class="confirm-button" (click)="confirm()"
          cdkFocusInitial>Submit review
  </button>
</div>
