@use "src/custom-theme" as theme;
@import "../../../../../../../assets/styles/restaurant_details";
@import "../../../../../../../assets/styles/restaurant_ordering_details";

:host {
  height: fit-content;
}

.restaurant-details-container {
  background-color: theme.$light-gray;
  border-radius: 10px;
  height: 160px;
  display: grid;
  grid-template-rows: auto 63% 21%;
  grid-template-columns: 5% 90% 5%;
}

.restaurant-details {
  grid-row: 2;
  grid-column: 2;
}

.restaurant-ordering-details {
  grid-row: 3;
  grid-column: 1 / span 3;
}

.min-order {
  display: flex;
  align-items: center;
  color: theme.$dark-gray;
  font-size: 16px;

  span {
    margin-right: 5px
  }
}

