<div class="order-card-container">
  <h2 class="order-card-title">{{order.id}}</h2>
  <div class="order-card-content">
    <div class="restaurant-details-container">
      <h3 class="name">{{order.restaurant.name}}</h3>
      <div class="profile-picture"></div>
      <mat-icon class="pin" svgIcon="pin"></mat-icon>
      <div class="info-container">
        <div class="info">
          <mat-icon>location_city</mat-icon>
          <span>{{order.restaurant.address.name}}</span>
        </div>
      </div>
    </div>
    <div class="delivery-path"></div>
    <div class="customer-details-container">
      <h3 class="name">{{order.customer.name + " " + order.customer.surname | titlecase}}</h3>
      <div class="profile-picture"></div>
      <mat-icon class="pin" svgIcon="pin"></mat-icon>
      <div class="info-container">
        <div class="info">
          <mat-icon>location_city</mat-icon>
          <span>{{order.address.name}}</span>
        </div>
        <div class="info">
          <mat-icon> phone</mat-icon>
          <span>{{order.address.name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="order-card-actions">
  </div>
</div>
