<div class="container">
  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1 class="form-title">LOG IN</h1>
      <h2 class="form-subtitle">Fill your information and order.</h2>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" placeholder="email@example.com">
      </mat-form-field>

      <app-password-field (passwordChanged)="loginForm.controls['password'].setValue($event)"></app-password-field>

      <button>Log in</button>
    </form>
  </div>
</div>
