<div class="container">
  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h1 class="form-title">LOG IN</h1>
      <h2 class="form-subtitle">Fill your information and order.</h2>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" placeholder="email@example.com">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter your password"
               formControlName="password">
        <button mat-icon-button matSuffix
                class="password-visibility"
                [matTooltip]="hidePassword ? 'Show password' : 'Hide password'"
                (click)="toggleShowPassword($event)">
          <mat-icon [svgIcon]="hidePassword ? 'eye' : 'eye-crossed'"></mat-icon>
        </button>
      </mat-form-field>

      <button>Log in</button>
    </form>
  </div>
</div>
