<div class="container">
  <div class="form-container">
    <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
      <h1 class="form-title">SIGN UP</h1>
      <h2 class="form-subtitle">Fill your information and create Fast & Foodious account.</h2>

      <app-image-upload-field (fileChanged)="imageChanged($event)"></app-image-upload-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" placeholder="email@example.com">
      </mat-form-field>

      <app-password-field (passwordChanged)="signUpForm.controls['password'].setValue($event)"></app-password-field>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput type="text" placeholder="Name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Surname</mat-label>
        <input formControlName="surname" matInput type="text" placeholder="Surname">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input formControlName="phoneNumber" matInput type="tel" placeholder="06* *** ***">
      </mat-form-field>

      <button>Sign up</button>
    </form>
  </div>
</div>
