@use "src/custom-theme" as theme;

table {
  width: 600px;
}

tbody tr td:first-child, tfoot tr td:first-child{
  text-align: left;
}

tbody tr td:last-child, tfoot tr td:last-child {
  text-align: right;
}

tbody {
  font-size: 18px;

  tr {
    margin-bottom: 10px;
  }
}

tfoot {
  font-size: 20px;
  color: theme.$green;
  font-weight: 800;
  font-stretch: expanded;
}

@media screen and (max-width: theme.$small-window-max) {
  table {
    width: 100%;
  }
}
