<mat-form-field appearance="outline" [formGroup]="passwordGroup">
  <mat-label>Password</mat-label>
  <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Enter your password" formControlName="password">
  <button mat-icon-button matSuffix
          class="password-visibility"
          [matTooltip]="hidePassword ? 'Show password' : 'Hide password'"
          (click)="toggleShowPassword($event)">
    <mat-icon [svgIcon]="hidePassword ? 'eye' : 'eye-crossed'"></mat-icon>
  </button>
</mat-form-field>
