@use 'src/custom-theme' as theme;

.content {
  max-width: 400px;
  font-size: 16px;
  color: theme.$black;
}

.title {
  font-size: 22px;
  font-weight: 800;
  color: theme.$black;
}

.actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  font-size: 16px;
  font-weight: bolder;
  padding: 8px 32px;
  color: theme.$white;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}

.confirm-button {
  background-color: theme.$green;
}

.cancel-button {
  color: theme.$black;
  background-color: theme.$light-gray;
}

.confirm-button:is(:hover, :active, :focus) {
  background-color: theme.$dark-green;
}

.cancel-button:is(:hover, :active, :focus) {
  background-color: theme.$dark-gray;
}
