@use 'src/custom-theme' as theme;

.order-card-container {
  max-width: 300px;
  background-color: #F6E98B;
  padding: 15px;
  border-radius: 10px;
  user-select: none;
  box-shadow: 3px 3px 5px rgba(33, 33, 33, .3);
}

.order-card-title {
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  border-bottom: 1px solid theme.$light-gray;
  margin-bottom: 10px;
}

.order-card-actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  font-size: 16px;
  font-weight: bolder;
  padding: 8px 32px;
  color: theme.$white;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}

.accept-button {
  background-color: theme.$green;
}

.reject-button {
  background-color: theme.$orange;
}

.accept-button:is(:hover, :active, :focus) {
  background-color: theme.$dark-green;
}

.reject-button:is(:hover, :active, :focus) {
  background-color: theme.$dark-orange;
}

.order-card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 800;
  color: theme.$green;
  margin-top: 15px;
}
