<button mat-icon-button class="badge-button" [matMenuTriggerFor]="menu">
  <mat-icon class="white-icon">more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu" xPosition="before">
  <button mat-menu-item [matMenuTriggerFor]="deliverers">
    <mat-icon svgIcon="delivery-black"></mat-icon>
    <span>Deliverers</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="restaurants">
    <mat-icon>restaurant</mat-icon>
    <span>Restaurants</span>
  </button>
</mat-menu>

<mat-menu #restaurants="matMenu" xPosition="after">
  <a routerLink="/admin/restaurants/new" mat-menu-item>
    <span>New</span>
  </a>
</mat-menu>

<mat-menu #deliverers="matMenu" xPosition="after">
  <a routerLink="/admin/deliverers/new" mat-menu-item>
    <span>New</span>
  </a>
</mat-menu>


